{% extends 'base.html' %}
{% block context %}

    <form action="" method="post"></form>
    <p>
        <label for="">Username</label>
        <input type="text">
    </p>
    <p>
        <label for="">Email Address </label>
        <input type="email">
    </p>
    <p>
        <label for="">Password</label>
        <input type="password">
    </p>
    <p>
        <label for="">Repeat Password</label>
        <input type="password">
    </p>
    <p>
        <input type="submit" value="Register">
    </p>
    
    {% endblock context %}